<head>
    <title>Delete an album!</title>
</head>
    <body>
        {% if albums %}
                <div class="title">
            <h1>Delete an album</h1>
        </div>
            <form method="post" enctype="multipart/form-data" action="/deleteAlbum">
                <label for="album">Select album:</label>
                <select id="album" name="album">
                    {% for album in albums %}
                        <option value="{{album[2]}}">{{album[0]}}</option>
                    {% endfor %}
                </select><br />
                <input type="submit" value="Delete" />
            </form>
            {% endif %}
            {% if not albums %}
                                <div class="title">
            <h1>You have no album<h1>
        </div>
            {% endif %}
            <a href="/">Go Home</a>
    </body>
